@import "../../utils/variables";

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 650px;
  z-index: 1;

  &-left {
    &--top {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 1.25rem;
      max-width: 75%;

      &-title {
        position: relative;

        h1 {
          letter-spacing: 0.1rem;
          margin-bottom: 0;
          margin-top: 0;
          line-height: 6rem;
        }

        svg {
          position: absolute;
          top: 90px;
          left: 0;
          width: 270px;
          stroke: $highlight-color-300;
          stroke-width: 1;
        }
      }

      &-dot {
        transform: translateY(-34px);
        margin-left: 0.4rem;
        animation: dot-animation ease-in-out 200ms;

        &:hover {
          animation: dot-animation ease-in-out 200ms;
        }

        p {
          font-size: 6rem;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    &--subtitle {
      p {
        font-size: 1.25rem;
        font-weight: 300;
        margin-top: 0;
        line-height: 2rem;
      }
    }

    &--ctas {
      margin-top: 5rem;

      button {
        &:last-child {
          margin-left: 1.75rem;
        }
      }
    }

    &--social-proof {
      text-transform: uppercase;
      margin: 0;
      margin-top: 2rem;

      p,
      b {
        font-size: 1rem;
      }

      p {
        font-weight: 300;
      }
    }
  }

  &-right {
    position: relative;

    &--kid {
      transform: translateX(170px);

      img {
        opacity: 0.8;
        width: 750px;
        height: auto;
      }
    }

    &--happy {
      position: absolute;
      top: 60px;
      right: 275px;

      svg {
        width: 50px;
        height: auto;
      }
    }
  }
}

@keyframes dot-animation {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(-30px);
  }
}
