@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap");

/* font */
$primary-font-family: "Josefin Sans", sans-serif;
$secondary-font-family: "Alata", sans-serif;

/* colors */
$primary-color: white;
$secondary-color: #031726;
$highlight-color-300: #14c9e5;
$highlight-color-500: #11a9c0;

/* space */
$max-container-width: 1180px;
